@use "../styles/def" as def;
@use "../styles/mixin" as responsive;
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
  box-sizing: border-box;
}

body {
  @include def.flex(column, flex-start, stretch);
  max-width: 100%;
  min-height: 100%;
  background-color: def.$default-background-color;
  color: def.$default-font-color;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  overflow: hidden scroll;
  position: relative;
  user-select: none;
}

@include responsive.mobile {
  body {
    max-width: 100%;
    min-height: 100%;
    font-size: 0.75rem;
  }
}

button, input, select, textarea {
  background-color: transparent;
  border: none;
  color: inherit;
  font: inherit;
  margin: 0;
  margin-block: 0;
  margin-inline: 0;
  outline: none;
  padding: 0;
  padding-block: 0;
  padding-inline: 0;
}

html {
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-block: 0;
  margin-inline: 0;
}

ul, ol {
  list-style-type: none;
  margin-block: 0;
  padding-inline: 0;
}
